{% extends "base.html" %}

<!-- -->

{% block head %}
<title>Flights</title>
<link
        href="{{ url_for('static', filename='css/search.css') }}"
        rel="stylesheet"
/>
{% endblock %}

<!-- -->

{% block body %}

<div class="main-container">
        <div class="main-card bg-base-300 rounded-4xl">
                <ul class="list bg-base-100 rounded-box shadow-md">
                        <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Flights from {{ params["origin_code"] }} to {{ params["dest_code"] }}</li>
                        {% for flight in flights %}
                        <li class="list-row">
                                <div>{{ flight["flight_number"] }}</div>
                                <div>
                                        <div>{{ flight["departure_date"] }} </div>
                                        <div class="text-xs uppercase font-semibold opacity-60">{{ flight["departure_time"] }}</div>
                                </div>
                                <div>{{ flight["duration"] }}</div>
                                <button class="btn btn-square btn-ghost">
                                        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path></g></svg>
                                </button>
                        </li>
                        {% endfor %}
                </ul>
        </div>
</div>

{% endblock %}