{% extends "base.html" %}

<!-- -->

{% block head %}
<title>Flights</title>
<link
        href="{{ url_for('static', filename='css/search.css') }}"
        rel="stylesheet"
/>
{% endblock %}

<!-- -->

{% block body %}

<div class="main-container">
        <div class="main-card bg-base-300 rounded-4xl">
                <ul class="list bg-base-100 rounded-box shadow-md">
                        <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Flights from {{ params["origin_code"] }} to {{ params["dest_code"] }}</li>
                        {% for flight in flights %}
                        <li class="list-row">
                                <div>{{ flight["flight_number"] }}</div>
                                <div class="w-lg">
                                        <div>{{ flight["departure_date"].strftime("%d/%b/%Y") }} </div>
                                        <div>
                                                <span class="opacity-100 font-bold">Departure time: </span>
                                                <span class="text-xs uppercase font-semibold opacity-60">{{ flight["departure_time"].strftime("%-I:%M %p") }} </span>
                                        </div>
                                        <div>
                                                <span class="opacity-100 font-bold">Duration: </span>
                                                <span class="text-xs uppercase font-semibold opacity-60">{{ flight["duration"]|duration }}</span>
                                        </div>
                                </div>
                                <a
                                        href="/details?flight-number={{ flight['flight_number'] }}&departure-date={{ flight['departure_date'] }}"
                                        role="button"
                                        class="btn btn-outline">
                                        Details
                                </a>
                        </li>
                        {% endfor %}
                </ul>
        </div>
</div>

{% endblock %}